name: mobile_app
description: Cloud Monitoring App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.3.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_svg: ^2.0.9
  http: ^1.2.1
  qr_flutter: ^4.1.0
  mobile_scanner: ^5.2.0
  flutter_map: ^7.0.2
  latlong2: ^0.9.1
  geolocator: ^13.0.0
  sensors_plus: ^6.1.0 # Ditambahkan untuk accel_page.dart
  fl_chart: ^0.68.0  # Tambahkan ini untuk grafik

  # TAMBAHKAN INI
  sensors_plus: ^5.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600