name: mobile_app
description: Cloud Monitoring App
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.3.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  sensors_plus: ^4.0.2
  flutter_svg: ^2.0.9
  http: ^1.2.1
  qr_flutter: ^4.1.0
  mobile_scanner: ^7.2.0
  flutter_map: ^8.2.2
  geolocator: ^14.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600